#canvas-bounds {
	overflow: hidden;
	border: 1px solid black;
	position: relative;
	margin: auto;
}

.canvas-container {
	border: 1px dashed blue;
 	width:  100%;
  height: 100%;
	position: absolute;
}
.sketchpad {
}

html, body {
 
  margin: 0px;
}