#viewport {
	overflow: hidden;
	position: relative;
	margin: auto;
}

#overlay {
	width: 100%;
	height: 100%;
	z-index: 2;
}
#logo {
	font-size: 22px;
}

.canvas-container {
 	width:  1000px;
  height: 1000px;
	position: absolute;
	z-index: -1;
}

.mouse-container {
	width: 18px;
	height: 18px;
	position: absolute;
	background-image: url('https://s3.amazonaws.com/big-canvas/assets/images/glyph-pencil.png');
	z-index: 5;
}
.sketchpad {
}

html, body {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}

#menu {
	position: fixed;
	bottom: 0;
	border-top: 1px solid black;
	background: gray;
	height: 29px;
	z-index: 2;
}

.option {
	margin-left: 5px;
	margin-right: 10px;
	float: left;
	display: inline;
}
.instructions {
	display: inline;
	margin-right: 5px;
	float: right;
}

.instructions:hover span {
	display: none;
}
#about {
	color: #292929;
}

.instructions:hover:after {
	content: "right-click + drag to move, ctrl for previous color, alt to eyedropper";
}

#menu-options {
  margin: 2px;
}
input {
  border: 1px solid black;
  background: white;
  font: 13px;
}
input#color-picker {
  width: 65px;
}

input#size-picker {
  width: 35px;
}
input#opacity-picker {
  width: 35px;
}